html, body
  height: 100%
body
  background: $base-background-color
  padding: 0 0rem
#main_wrapper
  min-height: 100%
  padding: 2rem 2rem
  max-width: 68em
  margin-left: 0
  margin-right: 0

  .main-header
    margin-bottom: 3rem

#main_footer
  padding: 2rem 0
  text-align: center
